<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insertar categoria</title>
</head>
<body>
<div th:if="${mensaje}" style="color: red; border: 1px solid red; width: 80%; text-align: center; margin: 10px auto; padding: 5px;">
    <span th:text="${mensaje}"></span>
</div>
<form method="POST" th:action="@{/categorias/new}" th:object="${categoria}" enctype="multipart/form-data">
    <input type="text" name="nombre" th:field="*{nombre}" placeholder="Nombre"><br>
    <input type="file" name="file" placeholder="Imagen"><br>
    <textarea name="descripcion" th:field="*{descripcion}" placeholder="Descripcion"></textarea><br>
    <input type="submit" value="Nueva categoría"><br>
</form>
<script type="text/javascript">
    document.getElementsByClassName()
</script>
</body>
</html>