<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script src="https://kit.fontawesome.com/672cc63c77.js" crossorigin="anonymous"></script>
</head>
<body>

<div th:if="${errorMessage}" th:text="${errorMessage}" style="color: red; border:1px solid red; margin: auto; width: 80%; padding: 20px; text-align: center"></div>

<h2 th:text="${producto.titulo}"></h2>
<p>Cantidad: <span th:text="${producto.cantidad}"></span><br>
    Precio: <span th:text="${producto.precio}"></span><br>
<br>

<div class="foto-container">
    <div th:each="foto : ${producto.fotos}"
         class="foto"
         th:style="'background-image: url(/imagesProductos/' + ${foto.nombre} + ');'">
    </div>
</div>

<br>
<div id="Comentarios" style="min-height: 100px;  padding: 5px;">
<h4>Comentarios</h4>
    <div th:each="comentario: ${producto.comentarios}">
        <p><span th:text="${comentario.texto}"></span>. <span th:text="${comentario.usuario.getEmail()}"></span> (<span th:text="${comentario.fecha}"></span>)
            <!-- Si el usuario conectado el el propietario pinto la papelera -->
            <span th:if="${comentario.getUsuario().getEmail == usuarioConectado.getEmail() }">
                <a th:href="@{/productos/{idProducto}/comentarios/{idComentario}/delete(idProducto=${producto.id}, idComentario=${comentario.id})}">
                    <i class="fa-solid fa-trash" style="color: gray; text-decoration: none"></i>
                </a>
            </span>

        </p>
    </div>
</div>
<br>
<form  th:action="@{/productos/view/{idProducto}/comentarios/add(idProducto=${producto.id})}"
       th:object="${comentario}" method="post">
    <textarea placeholder="Comentario..." th:field="*{texto}" style="border: 1px solid black; display: block; height: 50px; width: 90%"></textarea><br>
    <input type="submit" value="Añadir comentario"><br>
</form>
<br>
<a th:href="@{/productos}">Volver al listado</a>

</body>
</html>