<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Insertar nuevo producto</title>
</head>
<body>
<form th:action="@{/productos/new}" method="POST" th:object="${producto}">
  <input type="text"  placeholder="Titulo..." id="titulo" name="titulo" th:field="*{titulo}" >
  <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
    <br>
  <input type="number" placeholder="Cantidad..." id="cantidad" name="cantidad" th:field="*{cantidad}" ><br>
  <input type="number" min="0" step="0.01" placeholder="Precio..." id="precio" name="precio" th:field="*{precio}" ><br>
    <select id="categoria" name="categoria" th:field="*{categoria}">
        <option value="">Selecciona una categoria</option>
        <option th:each="categoria : ${categorias}" th:text="${categoria.nombre}" th:value="${categoria.id}"></option>
    </select><br>
    <input type="submit" value="insertar">
</form>
</body>
</html>