<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<h2 th:text="${producto.titulo}"></h2>
<p>Cantidad: <span th:text="${producto.cantidad}"></span><br>
    Precio: <span th:text="${producto.precio}"></span><br>
<br>
<div id="Comentarios" style="min-height: 100px;  padding: 5px;">
<h4>Comentarios</h4>
    <div th:each="comentario: ${comentarios}">
        <p><span th:text="${comentario.texto}"></span>. (<span th:text="${comentario.fecha}"></span>)</p>

    </div>
</div>
<br>
<form  th:action="@{/productos/view/{idProducto}/comentarios/add(idProducto=${producto.id})}"
       th:object="${comentario}" method="post">
    <textarea placeholder="Comentario..." th:field="*{texto}" style="border: 1px solid black; display: block; height: 50px; width: 90%"></textarea><br>
    <input type="submit" value="Añadir comentario"><br>
</form>
<br>
<a th:href="@{/productos}">Volver al listado</a>

</body>
</html>